* { box-sizing: border-box; }

html, body { margin: 15px; padding: 0; }
body { font-family: Arial; font-size: 13px; line-height: 1.5; }

.clear { clear: both; }
.floatLeft { float: left; }
.floatRight {float: right; }

.formElements input,
.formElements select { width: 200px; }

.formElements { margin: 10px; }
